

.column1 {
  width: 500px;
  float:left;
  text-align:center;
  background-color: lightsalmon;

}

.column2 {
  width: 500px;
  float:left;
  text-align:center;
  background-color: lightblue;

}

.column3 {
  width: 500px;
  float:left;
  text-align:center;
  background-color: lightyellow;

}

p.column2 {
  font-style:italic;
}

.light-background {
  background-color: lightpink;
  color: green;
}

.dark-background {
  background-color: darkred;
  color: white;
}

.btn-light {
  background-color: lightpink;
  color: green;
}

.btn-dark {
  background-color: darkred;
  color: white;
}
